/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */




/* Everything for general use */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;

}

body {
  background-color: #424342;
  color: #244f26;
  background-image: url('../img/slime-background.png');
  background-repeat: no-repeat;
  background-position: center top;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-family: Verdana,sans-serif;
}

.logo-div {
  grid-column: 1;
  background-color:#5e239d;
  border-bottom-right-radius: 100%;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.logo {
  grid-column: 1;
  border-radius: 100%;
  margin: 20px;
  height: 80px;
  width: 80px;
}

nav {
  background-color:#19d719;
  border-bottom-left-radius: 100%;
  grid-column: 2/8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.nav-list {
  grid-column: 2/5;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;


}

.nav-items{

  display: inline;


}

.nav-link:hover {
  background-color: #8755bd;

}

.nav-link {
  text-decoration: none;
  color: #273C2C;
  text-align: center;
  grid-column: auto;
  background-color: #5e239d;
  color: #19d719;
  padding: 8px 20px;
  border-radius: 100%;
  text-align: center;


}

footer {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #5e239d;
  display: grid;
  grid-column: 1/8;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  place-items: center;
  margin-top: 20px;

}

.copyright {
  grid-column: 2;
}

.footer-text {
  font-size: 12px;
  color: #19d719;
}

.footer-logo {
  border-radius: 100%;
  margin: 20px;
  margin-bottom: 50px;
  grid-column: 3;
  height: 100px;
  width: 100px;

}

.footer-socials {
  grid-column: 4;
}

.social {
  color: #19d719;
}

/*--------------------for mobile--------------------*/
@media only screen and (max-width: 950px) {
  .logo-div {
    height: 150px;
  }

  .logo {
    margin-left: 10px;
  }

  nav {
    grid-template-columns: 1fr;
  }

  .nav-list {
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0%;
    margin-right: 10px;
  }

  .nav-link {
    grid-row: auto;
    height: 30px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .copyright {
    font-size: 10px;
    grid-column: 1;
    padding-left: 10px;
  }
  .footer-text {
    font-size: 10px;
  }

  .footer-logo {
    grid-column: 2;
    margin: 5px 0px;
  }

  .footer-socials {
    grid-column: 3;
    font-size: 10px;
  }
}

/* Everything INDEX prefix = "index-"*/


#index-main {
  grid-column: 1/8;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 3fr 1fr;

}

.index-content {
  background-color: #19d719;
  border-radius: 50%;
  grid-column: 2;
  display: grid;
  max-width: 700px;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20%;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
  
}

.index-slogan {
  grid-row: 1;
  grid-column: 1/5;
  text-align: center;

}

.index-text {
  text-align: center;
  grid-row: 2;
  grid-column: 2/4;

}

.index-buttons{
  margin: 10px;
  grid-column: 2/4;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  place-items: center;

}

.index-button {
  height: 25px;
  width: 75px;
  border-radius: 50%;
  background-color: #5e239d;
  border-style: none;
  text-decoration: none;
  color: #19d719;
  text-align: center;
  padding: 5px 5px;

}

.index-button:hover {
  background-color: #8755bd;

}

@media only screen and (max-width: 950px) {

  .index-content {
    border-radius: 40px;
  }

  .index-text {
    width: 80%;
    grid-column: 1/5;
  }

  .index-slogan {
    margin: 10px;
  }

  .index-text {
    margin-top: 10px;
  }

}



/* Everything ABOUT prefix = "about-"*/


#about-main {
  grid-column: 1/8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;

}

.about-div {
  background-color: #19d719;
  grid-column: 2/6;
  border-radius: 20px;
  padding: 20px;
  margin: 30px 20px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);

}

.about-headline {
  font-size: 30px;
  grid-column: 1/3;

}

.about-text {
  margin: 5px;
  grid-column: auto;

}

.about-img-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin: 0% 0% 0% 10px;
}

.about-img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  grid-column: auto;
  object-fit: cover;

}

@media only screen and (max-width: 950px) {
  .about-img-text {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 0% 0% 20px 0%;
  }

  .about-div {
    grid-column: 1/9;
  }

  .about-img {
    margin: 10px;
    width: 150px;
    height: 150px;
  
  }
  
}


/* Everything ORDER prefix = "order-"*/


#order-main {
  grid-column: 1/8;
  margin: 30px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 100%;

}

.order-content {
  grid-column: 1;
  widows: 100%;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.order-div {
  background-color: #19d719;
  padding: 2% 5%;
  grid-row: auto;
  grid-column: auto;
  border-radius: 20px;
  margin: 20px;
  width: 320px;
  
  
}

.contact-form {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.order-headline {
  font-size: 30px;
  grid-column: 1/4;

}

.order-text {
  grid-column: 1/4;
  margin-top: 0px;

}


.order-input{
  margin: 5px 0px;
  border-radius: 10px;
  border-style: none;
  width: 100%;

}

.order-flavours {
  grid-row: 2;
  grid-column: 1;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  display: grid;

}

.order-link {
  padding: 10px;
  grid-column: 2;

}

.order-img {
  grid-column: auto;
  border-radius: 30px;
  height: 500px;
  width: 500px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 950px) {
  .order-div {
    width: 80%;
    grid-column: 1/3;
  }

  .order-content {
    grid-column: 1/3;
    width: 100%;
  }

  .order-img {
    height:400px;
    width: 400px;
    grid-column: 1/3;
  }
  
}

/* Everything CONTACT prefix = "contact-"*/


#contact-main {
  grid-column: 1/8;
  display: grid;
  grid-template-columns: 5% 4fr 5%;
  gap: 20px;
  place-items: center;
  grid-template-rows: 1fr 1fr;

}

.contact-people {
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1;
  width: 100%;
  gap: 5%;
  grid-column: 2;
  padding: 0%;
  margin-top: 20px;

}

.contact-person {
  background-color: #19d719;
  border-radius: 20px;
  grid-column: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 80%;
  gap: 10px;
  padding: 10%;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);

}

.contact-img {
  border-radius: 100%;
  grid-column: 1;
  height: 150px;
  width: 150px;

}

.contact-name {
  text-align: center;
  grid-column: 1;

}

.contact-occupation {
  text-align: center;
  grid-column: 2;


}


.contact-social {
  grid-column: 2;
  width: 100%;
  color: #5e239d;
}

.contact-contact {
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 2;
  width: 100%;
  gap: 10px;
  grid-column: 2;
  padding: 0%;
  margin: 20px 0px;
}

.contact-form {
  grid-column: auto;
  width: 80%;
  margin: 0%;

}

@media only screen and (max-width: 950px) {
  .contact-people {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .contact-person {
    padding: 5%;
    width: 95%;
  }

  .contact-contact {
    grid-template-columns: 1fr;
    padding-top: 25%;
    gap: 20px;
  }
}

/* Everything FLAVOURS prefix = "flavours-"*/


#flavours-main {
  grid-column: 1/8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.flavours-div {
  grid-column: 2/6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30PX;
  background-color: #19d719;
  border-radius: 20px;
  margin: 30px 0px;
  padding: 5%;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);

}

.flavours-article {
  grid-column: auto;

}

.flavours-name {
  margin: 0px ;
}

.flavours-img-text {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;

}

.flavours-text {
  width: 90%;
  margin-left: 5px;

}

.flavours-img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  border-color: black;

}

@media only screen and (max-width: 1360px) {

  .flavours-div {
    grid-template-columns: 1fr;
    
  }
  
  .flavours-name {
    margin: 0% 0% 1% 10%;
    
  }


  
}

@media only screen and (max-width: 950px) {

  .flavours-img-text {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .flavours-name {
    text-align: center;
    margin: 0% 0% 2% 0%;
  }

  .flavours-text {
    width: 70%;
  }

  
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

